/* common css start here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

body {
    background-color: #F1F1F3;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/* navbar css start here */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

nav ul li a {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
}

nav ul li .signIn {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 15px;
}

/* Banner part start Here */
#Banner {
    background-color: #C6E4D6;
    padding: 117px 60px;
    margin-top: 20px;
    border-radius: 24px;
}

.background-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-content p {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.background-content h2 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 56px;
    color: #0E0E0E;
    line-height: auto;
    margin-bottom: 45px;
    margin-top: 16px;
}

.background-content a {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 17px;
}

/* pillars of bangladesh part start here */
#pillars {
    margin-top: 80px;
    margin-bottom: 80px;
}

#pillars h3 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.pillars-card {
    width: 302px;
    background-color: #FFF;
    padding: 24px;
    color: rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}

.pillars-content h4 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 20px;
    color: #0E0E0E;
    padding-top: 15px;
    padding-bottom: 7px;
}

.pillars-content p {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.pillars-of-bangladesh-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* vision part start here */
.common-header {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: #0E0E0E;
}

.sub-title {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    margin-top: 15px;
    margin-bottom: 30px;
}

.vision-item {
    width: 410px;
    padding: 32px;
    background-color: rgba(84, 143, 245, 0.2);
    border-radius: 16px;
}

.vision-item h3 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.80);
    width: 410px;
    padding-bottom: 12px;
    padding-top: 14px;
}

.vision-item p {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.70);
    width: 410px;
    margin-bottom: 30px;
}

.vision-item a {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #5490F5;
    width: 410px;
    height: 325px;
    padding: 11px 20px;
    border-radius: 8px;
    color: #fff;
}

.vision-item a:hover {
    background-color: #FFC239;
    transition: all linear .3s;
}

.vision-future-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vision-future-wrapper .last-item {
    background-color: #F7EBCF;
}

.vision-future-wrapper .last-item a {
    background-color: #FFC239;
}

.vision-future-wrapper .last-item a:hover {
    background-color: lightcoral;
    transition: all linear .3s;
    color: yellow;
}

.vision-future-wrapper .mid-item {
    background-color: #C6E4D6;
}

.vision-future-wrapper .mid-item a {
    background-color: #09A15C;
}

.vision-future-wrapper .mid-item a:hover {
    background-color: lightpink;
    transition: all linear .3s;
    color: #0E0E0E;
}

/* quote section start here */
#quote {
    background-image: url(../assets/quote-bg.png);
    background-position: top 5px left 25px;
    background-size: 64px;
    padding: 25px;
    background-repeat: no-repeat;
    background-color: #FFF;
    border-radius: 16px;
    margin-top: 32px;
    text-align: justify;
    margin-bottom: 80px;
}

#quote p {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}

.last-para {
    padding-bottom: 18px;
}

#quote h5 {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}

/* opinion css start here */
.opinion-container {
    border-radius: 16px;
    background-color: #FFF;
    padding: 32px;
    margin-top: 24px;
}

.opinion-wrapper {
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.inner-opinion-wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    padding: 22px;
}

.inner-opinion-wrapper-header h5 {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0E;
    background-color: #C6E4D6;
}

.first-opinion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

.mid-opinion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

.last-opinion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

.opinion-wrapper {
    position: relative;
}

.vertical {
    position: absolute;
    width: 1px;
    height: 200px;
    right: 150px;
    top: 0px;
    background-color: rgba(14, 14, 14, 0.15);
}

.inner-opinion-container p {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    color: #0E0E0E;
}

.inner-opinion-container select {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    padding: 3px;
    color: #0E0E0E;
    /* margin: 24px; */
    background-color: #C6E4D6;
    border: 1px solid #0E0E0E;
}

/* recent news part start here */
.news-content-wrapper .sate-light {
    width: 408px;
    border-radius: 24px;
    height: 225px;
}

.news-content {
    padding: 48px;
    background-color: #FFF;
    border-radius: 24px;
}

.inner-news-content {
    width: 744px;

}

.news-content-wrapper {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
}

.inner-news-content h6 {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
}

.inner-news-content p {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 37px;
}

.inner-news-content a {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    padding: 10px 26px;
    font-size: 18px;
    color: #FFF;
    border-radius: 8px;
    background-color: #006A50;
}

.mid-news {
    margin: 24px 0;
}

/* donate part start */
#donate {
    text-align: center;
    margin: 80px 0;
}

.donate-amount-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.donate-amount-wrapper .item h4 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);

}

.donate-amount-wrapper {
    margin-bottom: 32px;
}

.donate-amount-wrapper .item {
    padding: 40px;
    border-radius: 16px;
    background-color: #FFF;
}

#donate input {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
    padding: 13px 380px;
    border: none;
}

#donate a {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    display: inline-block;
    margin-top: 32px;
}

/* news latter section start */
#newsLatter {
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 0px;
    text-align: center;
    margin-bottom: 80px;
}

#newsLatter input {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 400px;
    border-radius: 18px 0px 0px 18px;
    border: none;

}

.news-latter-content {
    position: relative;
}

#newsLatter a {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 34px;
    color: #FFF;
    background-color: #006A50;
    border-radius: 0px 17px 17px 0px;
    position: absolute;
    right: 190px;
    top: 132px;
}

#newsLatter p {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);

}

/* footer part start */
#footer-header h3 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 32px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

footer {
    text-align: center;
}

footer hr {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.1);
}

.footer-icon img {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 50px;
}

.footer-icon img:last-child {
    margin-right: 0;

}